<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logFormatVersion</key>
	<integer>11</integer>
	<key>logs</key>
	<dict>
		<key>12F6B0A7-1DC3-4D59-89F3-EA5D72A67870</key>
		<dict>
			<key>className</key>
			<string>IDECommandLineBuildLog</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>Xcode.IDEActivityLogDomainType.BuildLog</string>
			<key>fileName</key>
			<string>12F6B0A7-1DC3-4D59-89F3-EA5D72A67870.xcactivitylog</string>
			<key>hasPrimaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>S</string>
				<key>totalNumberOfAnalyzerIssues</key>
				<integer>0</integer>
				<key>totalNumberOfErrors</key>
				<integer>0</integer>
				<key>totalNumberOfTestFailures</key>
				<integer>0</integer>
				<key>totalNumberOfWarnings</key>
				<integer>0</integer>
			</dict>
			<key>signature</key>
			<string>Resolve Packages</string>
			<key>timeStartedRecording</key>
			<real>804851184.24547899</real>
			<key>timeStoppedRecording</key>
			<real>804851202.66446996</real>
			<key>title</key>
			<string>Resolve Packages</string>
			<key>uniqueIdentifier</key>
			<string>12F6B0A7-1DC3-4D59-89F3-EA5D72A67870</string>
		</dict>
		<key>1DDE1944-38FD-48D6-93FA-E1B8890CD5D6</key>
		<dict>
			<key>className</key>
			<string>IDECommandLineBuildLog</string>
			<key>documentTypeString</key>
			<string>&lt;nil&gt;</string>
			<key>domainType</key>
			<string>Xcode.IDEActivityLogDomainType.BuildLog</string>
			<key>fileName</key>
			<string>1DDE1944-38FD-48D6-93FA-E1B8890CD5D6.xcactivitylog</string>
			<key>hasPrimaryLog</key>
			<true/>
			<key>primaryObservable</key>
			<dict>
				<key>highLevelStatus</key>
				<string>S</string>
				<key>totalNumberOfAnalyzerIssues</key>
				<integer>0</integer>
				<key>totalNumberOfErrors</key>
				<integer>0</integer>
				<key>totalNumberOfTestFailures</key>
				<integer>0</integer>
				<key>totalNumberOfWarnings</key>
				<integer>0</integer>
			</dict>
			<key>signature</key>
			<string>Resolve Packages</string>
			<key>timeStartedRecording</key>
			<real>804851205.76087797</real>
			<key>timeStoppedRecording</key>
			<real>804851206.94439697</real>
			<key>title</key>
			<string>Resolve Packages</string>
			<key>uniqueIdentifier</key>
			<string>1DDE1944-38FD-48D6-93FA-E1B8890CD5D6</string>
		</dict>
	</dict>
</dict>
</plist>
